*{
    margin : 0;
    padding : 0;
}

body{
    background-color :white;
    max-width: 500px;
    margin : auto;
    text-align: center;
    font-family : sans-serif;
}

a{
    text-decoration : none;
    color : white;
}

a:hover{
    color : black;
}

header{
    margin : 2rem;
    margin-top : 17rem;
    min-height: 100vh;
}

.form{
    border : 1px solid black;
    background-color : #caf0f8;
    border-radius: 20px;
}

.container{
    min-height : 100vh;
    display : flex;
    flex-direction : column;
    justify-content: center;
}



label{
    display : block;
    margin : 1rem;
    font-weight: 40px;
    font-size : 1rem;;
}

input {
    padding : 1rem;
    border-radius: 5px;
    border : none;

}

button{
    display : inline-block;
    margin : 1rem;
    padding : .5rem;
    width : 28%;
    background-color : blue;
    color : white;
    border-radius: 5px;
    cursor : pointer;
}

button:hover{
    background-color : white;
    color : black;
}

.output {
    margin : 1rem;
    margin-top: 0;
}


.alert {
    margin : 1rem;
    border : 1px solid red;
    padding : 1rem;

}

.footer li i{
    font-size : 1.5rem;
    color : black;
    cursor: pointer;
}

.error{
    padding : 1rem;
    font-weight: bold;
    display : none;    
}

.output{
    font-weight: bold;
    padding : 1rem;
}


ul{
    display : flex;
    justify-content:space-between;
    margin-top : 2rem;
    list-style-type: none;
    padding : 1rem;
}

